name: Send Daily Quote

on:
  schedule:
     - cron: '0 5 * * *'  # 5 AM UTC = 6 AM Nigeria
  workflow_dispatch:

jobs:
  send-quote:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    
    - name: Run bot
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        USER_ID: ${{ secrets.USER_ID }}
        GROUP_ID: ${{ secrets.GROUP_ID }}
      run: python bot.py